In the terminal:
```
sudo -u postgres psql



```

# Populate the DB

## Fill authors

In [10]:
import os
drive_path = '/media/scholar/cca30a4f-fb5b-4ec5-9bca-8f51dad1364c/'
first_papers_file = os.path.join(drive_path, 'authors', 'authors_part1')
import pandas as pd
df = pd.read_json(first_papers_file, lines=True)
# df.head()

df = df.rename(columns={'authorid': 'author_id',
                        'papercount': 'paper_count',
                        'citationcount': 'citation_count',
                        'hindex': 'h_index',
                        })
df = df[['author_id', 'name', 'paper_count', 'citation_count', 'h_index']]

from sqlalchemy import create_engine
engine = create_engine('postgresql://scholar:scholar@localhost/ss_bootstrapping')
df.to_sql('authors', engine, if_exists='append')

## Fill Papers

In [18]:
import os
drive_path = '/media/scholar/cca30a4f-fb5b-4ec5-9bca-8f51dad1364c/'
first_papers_file = os.path.join(drive_path, 'papers', 'papers_part60')
import pandas as pd
full_papers_df = pd.read_json(first_papers_file, lines=True)
full_papers_df.columns

Index(['corpusid', 'externalids', 'url', 'title', 'authors', 'venue',
       'publicationvenueid', 'year', 'referencecount', 'citationcount',
       'influentialcitationcount', 'isopenaccess', 's2fieldsofstudy',
       'publicationtypes', 'publicationdate', 'journal'],
      dtype='object')

In [10]:
df = full_papers_df.rename(columns={'corpusid': 'corpus_id',
                        'publicationdate': 'publication_date',
                        'citationcount': 'citation_count',
                        'hindex': 'h_index',
                        })
df = df[['corpus_id', 'title', 'publication_date', 'url', 'journal', 'venue', 'year']]
df['abstract'] = None
df['journal'] = df['journal'].apply(lambda x: x['name'] if x else None)

In [12]:
df.head()

,corpus_id,title,publication_date,url,journal,venue,year,abstract
0,52300260,An Overview on the Role of Oligodendrocytes an...,2018-07-01,https://www.semanticscholar.org/paper/1754539e...,Neurochemical Journal,Neurochemical Journal,2018.0,None
1,75680570,Dystonia due to Bee Sting: A Case Report,2014-06-10,https://www.semanticscholar.org/paper/810207c9...,Journal of Academic Emergency Medicine Case Re...,,2014.0,None
2,112020738,X-22a v/stol aircraft research capabilities,1964-09-21,https://www.semanticscholar.org/paper/5c0af950...,None,,1964.0,None
3,107159212,Removal of beet color from waste by treatment ...,1957-05-06,https://www.semanticscholar.org/paper/357081a6...,None,,1957.0,None
4,244045937,Empirical Study on the Impact of Green Human R...,2021-08-31,https://www.semanticscholar.org/paper/36a0591e...,The International Journal of Business & Manag...,International journal of business management,2021.0,None

In [16]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://scholar:scholar@localhost/ss_bootstrapping')
df = df.set_index('corpus_id')
df.to_sql('papers', engine, if_exists='append')

12

### Insert author - paper relations

In [21]:
full_papers_df['authors'][:2]

0    [{'authorId': '5782041', 'name': 'H. Rothan'},...
1    [{'authorId': '3438816', 'name': 'A. Karaku≈ü'}...
Name: authors, dtype: object

In [45]:
paper_author_pairs = []
def extract_paper_author_pairs(row):
    processed_author_ids = set()
    for author in row['authors']:
        # There were a few duplicate authors in the data
        if author['authorId'] is None or author['authorId'] in processed_author_ids:
            continue

        paper_author_pairs.append({'corpus_id': row['corpusid'], 'author_id': author['authorId']})
        processed_author_ids.add(author['authorId'])

for index, row in full_papers_df.iterrows():
    pairs = extract_paper_author_pairs(row)
    if pairs is None:
        continue
    paper_author_pairs.extend()

In [50]:
df = pd.DataFrame(paper_author_pairs)

In [52]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://scholar:scholar@localhost/ss_bootstrapping')
df = df.set_index('corpus_id')
df.to_sql('paper_authors', engine, if_exists='append')

580

## Insert Abstracts (after papers have been processed)

In [ ]:
import os
drive_path = '/media/scholar/cca30a4f-fb5b-4ec5-9bca-8f51dad1364c/'
first_papers_file = os.path.join(drive_path, 'abstracts', 'truncated')
import pandas as pd
df = pd.read_json(first_papers_file, lines=True)
df.head()

,corpusid,openaccessinfo,abstract
0,125317779,"{'externalids': {'MAG': '2596934416', 'ACL': N...",summary: this paper deals with the application...

In [ ]:
def insert_abstracts(df):
    from sqlalchemy import create_engine
    engine = create_engine('postgresql://scholar:scholar@localhost/ss_bootstrapping')
    df.to_sql('tmp_table', engine, if_exists='replace')
    sql = '''
    UPDATE papers
    SET abstract = tmp_table.abstract
    FROM tmp_table
    WHERE papers.paper_id = tmp_table.paper_id
    '''

    with engine.begin() as conn:
        conn.execute(sql)